<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<a href="index.html" class="home-btn">
	Home
</a>
<div class="container">
	<div class="bg" style="background-image: url('static/images/bg-01.jpg');">
		<div class="cardl">
			<form class="form" action="/login" method="post">
				<h1 class="title">Login</h1>

				<div class="input-group">
					<label>Username</label>
					<input type="text" name="username" placeholder="Type your username">
				</div>

				<div class="input-group">
					<label>Password</label>
					<input type="password" name="pass" placeholder="Type your password">
				</div>

				<div class="forgot">
					<a href="#">Forgot password?</a>
				</div>

				<div class="btn-wrap">
					<button class="btn">
						<span class="btn-bg"></span>
						<span class="btn-text">Login</span>
					</button>
				</div>

				<div class="divider">
					<span>Or Continue With</span>
				</div>

				<div class="social">
					<a href="#" class="social-btn">
						<img src="images/facebooklogo.jpg" alt="Facebook">
					</a>
					<a href="#" class="social-btn">
						<img src="images/googlelogo.png" alt="Google">
					</a>
				</div>

				<div class="signup">
					<a href="signup.html">Sign Up</a>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>